<div class="create-blog content">

  <form class="login" action="/login" method="POST">
    <h3>ПРОШУ, ВОЙДИТЕ</h3>

    <label for="email">Почтовый адрес:</label>
    <input type="text" id="email" name="email" required>
    <div class="email error"></div>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <div class="password error"></div>

    <button>Войти</button>
  </form>

</div>
