<div class="blogs content">

  <div class="blog-entry">
    <h3>ДЕЙСТВУЮШИЕ ЛИЦА</h3>
    <br>
    {{#each users}}

    <p> <span class="author">{{this.username}},</span> {{this.bio}} </p>

    <p class="blue"> {{this.email}} </p>

    {{/each}}

  </div>


</div>
