<div class="create-blog content">

  <form action="/create" method="POST">
    <label for="title">Что вы хотите сказать?</label>
    <input type="text" id="title" name="title" required>

    <label for="author">Ваше имя:</label>
    <input type="text" id="author" name="author" required>

    <label for="tags">Теги:</label>
    <input type="text" id="tags" name="tags" required>

    <label for="blog">Говорите:</label>
    <textarea id="blog" name="blog" required></textarea>

    <button>Сказать!</button>
  </form>

</div>
